
html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background-image: url("roman background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
  } /*This is probably unnecessary - looks better with plain background like vice verba*/

  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .buttons {
    margin-top: auto;
  }

  h1 {
    color: #8b0000;
    background-color: #d19b08;
    border: 4px solid #8b0000;
    border-radius: 8px;
    padding: 20px;
    display: block;
    text-align: center;
    width: fit-content;
  }

  .selected {
    background-color: #8b0000;
    color: #fff;
  }

  table {
    display: none;
    width: fit-content;
    background-color: #d19b08;
    margin: 0 auto;
    border: 1px solid #a30000;
    border-collapse: collapse;
  }

  td {
    border: 1px solid #8b0000;
    padding: 1px;
  }

  button {
    background-color: #a42a2e;
    border: 0px;
    color: white;
  }

  .main-content {
    margin-left: 20px;
    margin-right: auto;
    text-align: left;
  }

  .casecheckboxes {
    accent-color: #8d0000;
  }
 
  label {
    background-color: #d19b08;
  }
  
  .casebuttons, .numberbuttons, .genderbuttons { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }
  .cases, .numbers, .genders {
    flex: 1;
    text-align: center;
    margin: 10px 2px;
    padding: 12px 0;
    font-size: 1.1rem;
  }
  .checkans {
    font-weight: bold;
    width: calc(100% - 40px);
    padding: 24px 0;
    margin: 10px 20px 5px;
    font-size: 2.2rem;
  }
  
  .cng-headings {
    margin: 0;
    padding-left: 20px;
    text-align: left;
    color: #a42a2e;
  }

  #quizword {
    min-height: 1.5em;
    display: block;
    margin: 0;
  }

  #checkans.flash {
    background-color: #8b0000;
    color: white;
  }
  #displaystatus {
    min-height: 1.5em;
  }